// Dimensions
$card-width: 50rem;
$spacing: 1rem;
$br: 3px;
$lbr: 50px;

// Colors
$text-light: #ddd;
$text-dark: #425081;
$gradient-start: #42509e;
$gradient-end: #03a9f4;
$light-bg-color:#71D9DB;
$border:#03BFCB;
$error:#f51312;
$highlight-color:#ffcb05;


$gray: #0d1030;



$colors: (cl1: #241379,
  cl2: #2185bf,
  cl3: #1fbce1,
  cl4: #ff4293,
  cl6: #78ffba,
  cl9: #808285,
  cl5: #eee,
  cl7:#3585CE,
  cl8: #f04c81);
