<!-- <div class="menu-container col-11 col-md-6">
  <h2 class="red header">Mein Luzi</h2>
  <div class="content">
    <div class="floating">
      <input name="email" class="floating__input" type="text" placeholder="E-Mail-Adresse"
        autocomplete="off">
      <label class="floating__label" data-content="E-Mail-Adresse">
        <span class="hidden--visually">E-Mail-Adresse</span>
      </label>
    </div>
    <div class="floating">
      <input id="passwort" name="password" type="password" class="floating__input"
        placeholder="Ihr LieferLuzi Passwort">
      <label for="passwort" class="floating__label" data-content="Ihr LieferLuzi Passwort">
        <span class="hidden--visually">Ihr LieferLuzi Passwort</span>
      </label>
    </div>
    <input id="bleiben" type="checkbox">
    <label for="bleiben">Angemeldet bleiben</label>
    <section class="loginBTN">
      <input type="button" value="Jetzt einloggen" class="red">
      <i class="fad fa-lock"></i>
      <span>Sicher mit SSL-Verschlusselung</span>
    </section>
    <section class="footer">
      <span class="small">Sie haben noch kein Lieferluzi Kundenkonto?</span>
      <a>Jetzt registrieren!</a>
    </section>
  </div>
</div> -->
