<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SHARIF BOX</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ICO Cryptocurrency - Bitcoin Landing Page Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link href="/css/animate.css" rel="stylesheet" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link href="/css/bootstrap.min.css" rel="stylesheet" />*@
    @* <link href="/css/flaticon.css" rel="stylesheet" /> *@
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="/css/meanmenu.min.css" rel="stylesheet" />
    <link href="/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="/css/responsive.css" rel="stylesheet" />
    <link href="/css/video-js.css" rel="stylesheet" />
    <link href='https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.css' rel='stylesheet' type='text/css'>
    <link rel="icon" href="~/images/logo/logo.ico">
    <link href="/css/Style.css" rel="stylesheet" />
</head>

<body>

    @RenderBody()




    @*<script src="/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="/js/vendor/jquery-3.2.1.min.js"></script>
    <script src="/js/smooth-scroll.min.js"></script>
    <script src="/js/jquery.countup.min.js"></script>
    <script src="/js/jquery.waypoints.min.js"></script>
    @* <script src="/js/scroll-events.js"></script> *@
    <script src="/js/tether.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*<script src="~/js/bootstrap.min.js"></script>*@
    <script src="/js/site.js?v=4q1jwFhaPaZgr8WAUSrux6hAuh0XDg9kPS3xIVq36I0"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.meanmenu.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.easypiechart.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/echarts-en.min.js"></script>
    <script src="/js/echarts-liquidfill.min.js"></script>
    <script src="/js/vc_round_chart.min.js"></script>
    <script src="/js/videojs-ie8.min.js"></script>
    <script src="/js/video.js"></script>
    @*<script src="/js/Youtube.min.js"></script>*@
    <script src="/js/site.js"></script>
    <script src="/js/particles.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <script src="~/js/countup.js"></script>
    <script src="~/js/scroll-events.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
